<h1>Products</h1>
<%= paginate @products %>
<div class="clearfix"></div>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <div class="well mywell">
        <span><%= image_tag product.attachment.url(:thumb) %></span>
        <p class="product-title"><%= link_to product.title, product_path(product) %></p>
        <p>Price: <%= number_to_currency product.price %></p>
      </div>
    </div>
  <% end %>
</div>
