<tr>
  <td><%= review.description %></td>
  <td><%= review.user.name if review.user.present? %></td>
</tr>
<tr>
  <% if review.user_id == current_user.id %>
    <td><%= link_to 'Edit Review', edit_product_review_path(@product, review) %></td>
  <% end %>
  <% if review.user_id == current_user.id || current_user.id == @product.user_id %>
    <td><%= link_to 'Delete Review', [@product, review], method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
