<div class="single-review">
  <div class="reviewer">
    <%= review.user.name if review.user.present? %> says:
  </div>
  <div class="review-description">
    <%= review.description %>
    <% if current_user %>
      <% if review.user_id == current_user.id %>
        <div>
          <%= link_to 'Edit Review', edit_product_review_path(@product, review) %>
      <% end %>
      <% if review.user_id == current_user.id || current_user.id == @product.user_id %>
        | <%= link_to 'Delete Review', [@product, review], method: :delete,
                 data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
